body{
    background-color: #fdf7e5;
    font-family: "Poppins", sans-serif;
}
header{
    color: #f0575c;
}
.aboutthebakery h2{
    color: #f0575c;
}
.aboutthecoffee h2{
    color: #f0575c;
}
.hours h2{
    color: #f0575c;
}
.turtledanish h2{
    color: #f0575c;
}
.macarons h2{
    color: #f0575c;
}
.strawberrymeringue h2{
    color: #f0575c;
}
.peachrasptart h2{
    color: #f0575c;
}
.chocorasptart h2{
    color: #f0575c;
}
.fruitlemoncustardtart h2{
    color: #f0575c;
}
.butterhalf{
    background-image: url(images/backgroundimages.png);
    background-size: cover;
    color: #fff;
    margin-left: 15rem;
    margin-right: 15rem;
}
.aboutthebakery{
    background-color: #fff;
}
.aboutthecoffee{
    background-color: #fff;
}
.hours{
    background-color: #fff;
}
.thegoods{
    background-color: #f0575c;
}
footer{
    background-color: #24ac92;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}
footer img{
    width: 5rem;
    height: 5rem;
}
.turtledanish,.macarons,.strawberrymeringue,.peachrasptart,.chocorasptart,.fruitlemoncustardtart{
    background-color: #fff;
}
.butterhalf{
    padding: 10rem 5rem;
}
.aboutthebakery,.hours,.aboutthecoffee{
    margin-right: 15rem;
    margin-left: 15em;
    padding: 2rem;
    display:flex;
    margin-top:3rem;
    margin-bottom: 3rem;
}
.thegoods{
    margin-right: 15rem;
    margin-left: 15rem;
}
header img{
    width: 10rem;
}
.thegoods img{
    width: 5rem;
}
.thegoods{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    color: #fff;
}
.goodies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.goodies img{
    width: 15rem;
}
.turtledanish,.macarons,.strawberrymeringue,.peachrasptart,.chocorasptart,.fruitlemoncustardtart{
    padding-bottom: 2rem;
}
.aboutthebakery img{
    width: 20rem;
    padding-right: 3rem;
}
.aboutthecoffee img{
    width: 20rem;
    padding-right: 3rem;
}
.hours img{
    width: 20rem;
    padding-right: 3rem;
}
.hours div{
display: flex;
flex-wrap: wrap;
}
.hours h2{
    flex-basis: 100%;
}
header{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
}
nav a{
    color: #f0575c;
    vertical-align: middle;
    
}
nav a img{
    vertical-align: middle;
    width: 7rem;
}
.hamburger{
    display: none;
}
@media (max-width: 500px){
    .hamburger{
        width: 40px;
        padding: .5rem;
        display: block;
    }
    .hamburger hr{
        margin: .75rem 0;
        border: 2px solid #f0575c;
    }
    header nav{
        background-color: #fff;
        position: fixed;
        width: 100%;
        top: 5rem;
    }
    header nav a{
        display: block;
        color: #f0575c;
        text-align: center;
        text-decoration: none;
        padding: 3rem;
        border: 1px solid #f0575c;
    }
    header nav{
        left: 100%;
    }
    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    header nav.show{
        left: 0;
    }
    header nav{
        transition-property: left;
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    .butterhalf{
        width: 30rem;
        padding: 3rem;
        margin-right: 1rem;
        margin-left: 1rem;
        display: block;
    }
    .aboutthebakery,.aboutthecoffee,.hours{
        margin-right: 1rem;
        margin-left: 1rem;
        display: block;
    }
    .thegoods{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .thegoods img{
        width: 3rem;
    }
    .goodies{
        margin-right: 1rem;
        margin-left: 1rem;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .goodies img{
        width: 10rem;
    }
}