body{
   background-color: #27213c;
   margin: 0;
   color:#fff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgba(39,33,60,.70);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
nav>a{
    color: #e2512d;
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 900;
    display: inline-block;
}
nav>a:hover{
    color: #a33b20;
    text-decoration: underline;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; 
}
.animal-background{
    position: fixed;
    top: -12rem;
    width: 200%;
    left: -51%;
    height: 50rem;
    background-image: url(images/animal.jpg);
    background-size: cover;
    z-index: -1;
}
section>h2{
    text-align: center;
    padding: 13rem 0;
    text-shadow: 2px 2px 2px #27213c;
    background-size: cover;
    margin: 0;
}
section{
    background-color: #a33b20;
}
.animals{
    background-color: transparent;
}
.sloth>h2{
    background-image: url(images/sloth.jpg);
}
.elephant>h2{
    background-image: url(images/elephant.jpg);
}
.owl>h2{
    background-image: url(images/owl.jpg);
}
article{
    padding: 1rem;
}
section span{
    position: absolute;
    top: 15rem;
    font-size: 2rem;
    left: calc(50% - 11px);
}
section>h2{
    position: relative;
}
.accordion{
    cursor: pointer;
}
article{
    display: none;
}
article.show{
    display: block;
}
section span{
    transform: rotate(180deg)
}
span.rotate{
    transform: rotate(0)
}
.sidelink{
    background-color: #27213c;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration:none;
}
.sidelink{
    position: fixed;
    transform: rotate(90deg);
    z-index: 1;
    right: -5rem;
    top: 45%;
}
section>h2{
    border-bottom: solid#e2512d 2rem;
}
@media (min-width:1000px){
    .animal-background{
        height: 100rem;
        top: -25%;
    }
    section span{
        font-size: 4rem;
        top: 26rem;
        left: calc(50% - 22px);
    }
    section>h2{
        padding: 23rem 0;
        font-size: 3rem;
        background-position: center;
    }
    nav{
        position: absolute;
        left: 1rem;
        top:1rem
    }
    article{
        max-width: 60rem;
        margin: 0 auto;
    }
}