body{
    background-color: #330202;
    font: #fff;/*Should be color not font*/
    font-family: 'EB Garamond', serif;
    margin: 0;
}
body {
  font-family: Arial, sans-serif;
  color: #d9ba6c;
}
h1,h2{
    font-family: 'Cinzel Decorative', cursive;
    font: #d9ba6c;/*Should be color not font*/
}
header {
  background-color: #161d2d;
  padding: 1rem;
}

nav > a {
  color: #d9ba6c;
  border: 1px solid #d9ba6c;
  text-decoration: none;
  padding: 1rem;
  font-weight: 800;
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

nav > a:hover {
  border-color: transparent;
  background-color: #d9ba6c;
  color: #161d2d;
}
.sidenav {
  background-color: #374a76;
  padding: 0.5rem 1rem;
}

.sidenav > a {
  background-color: #fae2c0;
  color: #0f0f0f;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0.5rem 0.5rem 0 0;
  text-decoration: none;
}

.sidenav > a:hover {
  opacity: 0.8;
}
main {
  padding: 1rem;
}

section {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #d9ba6c;
}

.title {
  margin: 0;
  padding: 2rem 1rem;
  background-color: #5f1818;
}

h4 {
  margin: 0;
}

section {
  display: grid;
  grid-template-columns: 12rem 1fr;
}

section:nth-child(2) {
  display: block;
}

/*In the four declarations below you should have a number value in each of the grid properties to place the items in the correct location on the grid. If you look in the instructions I have a grid image with the values for reference.*/
section > img {
  max-height: 10rem;
  grid-row-start:;
  grid-row-end:;
  grid-column-start:;
  grid-column-end:;
}
section > h3{
  grid-row-start:;
  grid-row-end:;
  grid-column-start:;
  grid-column-end:;
}
section > h4{
  grid-row-start:;
  grid-row-end:;
  grid-column-start:;
  grid-column-end:;
}
section > p{
  grid-row-start:;
  grid-row-end:;
  grid-column-start:;
  grid-column-end:;
}

.ragnarok section:nth-child(5) {
  display: block;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .title {
    grid-column: 1 / 3;
  }

  section:nth-child(2) {
    grid-column: 1 / 3;
  }

  .ragnarok {
    display: block;
  }
}

@media (min-width: 1100px) {
  body {
    display: grid;
    grid-template-columns: 20rem auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    /*Missing 
    grid-column: ; 
    You need two values separated by a / to make the header take up two columns.*/
  }

  .sidenav > a {
    display: block;
    text-align: right;
  }
}